.Die i {
    font-size: 20vh;
    color: rgb(31, 31, 31);
}

.roll-shake {
    animation-name: wobble;
    animation-duration: 1s;
}

@keyframes wobble {
    10%, 90% {
      transform: translate3d(-1px, 0, 0) rotate(-2deg);
    }
    
    20%, 80% {
      transform: translate3d(2px, 0, 0) rotate(2deg);
    }
    
    30%, 50%, 70% {
      transform: translate3d(-4px, 0, 0) rotate(-4deg);
    }
  
    40%, 60% {
      transform: translate3d(4px, 0, 0) rotate(4deg);
    }
}