.dice-shaker {
    margin: 0.5em;
}
.RollDice button {
    padding: 0.5em;
    margin: 0.5em;
    height: 3em;
    font-family: 'HeroQuest';
    font-size: 2em;
    border: 0px;
    border-radius: 10px;
    color: white;
    background-color: rgb(31, 26, 23);
}

.RollDice button:hover {
    background-color: darkred;
    cursor: pointer;
}

.rolling {
    font-size: 0.5em;
    position: relative;
    top: -0.4em;
}

.monster {
    height: 1.3em;
    width: auto;
}